<!--create a list of templates -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des templates importés</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Date de création</th>
                                            <th>Téléchargement</th>
                                            <th>Par défaut</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let template of templates">
                                            <td>{{template.name}}</td>
                                            <td>{{convertDate(template.created_at)}}</td>
                                            <td>
                                               <button class="btn btn-info" (click)="downloadTemplate(template)">
                                                 <mat-icon>download</mat-icon>
                                               </button>
                                              </td>
                                            <td>
                                              <button class="btn btn-info" (click)="setDefautltTemplate(template)">
                                                <mat-icon>check</mat-icon>
                                              </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
