<div>
  <form [formGroup]="createQuoteFormGroup" (submit)="validate()">
    <div class="client">
      <h2 style="text-align: center">Client</h2>
      <span>
      <label>Nom complet</label>
       <input matInput type="text" formControlName="client">
    </span>
      <span>
      <label>Rue</label>
       <input type="text" formControlName="adressRoad">
    </span>
      <span>
      <label>Numero</label>
       <input type="text" formControlName="adressNumber">
    </span>
      <span>
      <label>Code postal</label>
       <input type="text" formControlName="postalCode">
    </span>
      <span>
      <label>Ville</label>
       <input type="text" formControlName="city">
    </span>
      <span>
        <label>Téléphone</label>
        <input type="text" formControlName="phone">
      </span>
    </div>
    <div class="lines">
      <h2 style="text-align: center">lines</h2>
      <div formArrayName="lines">
        <div *ngFor="let line of data.linesArray;let i = index">
          <div [formGroupName]="i">
            <span>
      <label>Réference produit</label>
       <input type="text" formControlName="reference">
    </span>
            <span>
      <label>Description</label>
       <input type="text" formControlName="description">
    </span>
            <span>
      <label>Prix unitaire</label>
       <input type="number" formControlName="unitPrice" (change)="calculateTotalLine(i)">
    </span>
            <span>
              <label>Promo</label>
              <input type="number" formControlName="promo">
            </span>
            <span>
      <label>Quantité</label>
       <input type="number" formControlName="quantity" (change)="calculateTotalLine(i)">
    </span>
            <span>
              <p type="text"> Total : {{createQuoteFormGroup.value?.lines[i].total}}</p>
    </span>
            <span>
              <a (click)="deleteQuoteLine(i)">
              <mat-icon>delete</mat-icon>
                </a>
            </span>
          </div>
        </div>
      </div>
      <span>
         <button type="button" (click)="addLine()">Ajouter une ligne</button>
      </span>
    </div>
    <button type="submit" [disabled]="!data.linesArray.length"> envoyer</button>


  </form>
</div>
