
<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username"
           placeholder="Enter username">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email">
  </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Phone">
    </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Lastname">
  </div>
  <div class="form-group">
    <label for="address">AdressRoad</label>
    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" formControlName="city" placeholder="City">
  </div>
  <div class="form-group">
    <label for="zipcode">Code postal</label>
    <input type="text" class="form-control" id="zipcode" formControlName="zipcode" placeholder="zipcode">
  </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" formControlName="state" placeholder="state">
    </div>
  <div class="form-group">
    <label for="vatnumber">VAT</label>
    <input type="text" class="form-control" id="vatnumber" formControlName="vatnumber" placeholder="VAT">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>


