<!--display a list of quote from quotes -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <i class="fa fa-quote-left"></i>
          Liste des devis créer
        </h2>
      </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Date du devis</th>
                <th>Nom du devis</th>
                <th>Téléchargement</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of quotes">
                <td>{{quote.created_at}}</td>
                <td>{{quote.document_id}}</td>
                <td>
                  <button class="btn btn-danger" (click)="download(quote.document_id)">
                    <mat-icon>download</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
